body{
	width: 25%;
	margin: auto;
}
h1{
	text-align: center;
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form__item{
	display: flex;
	flex-direction: column;
	width: 90%;
}
.form__item>input{
	
	height: 30px;
}
.form__item>p{
	margin-bottom: 5px;
}
/*.form__item>div>input:focus{
	border: 1 px solid skyblue;
}*/
.form__item>input[type="submit"]{
	width: 30%;
	margin-top: 15px;
	height: 35px;
	background: linear-gradient(lightblue, blue);
	color: white;
	border: none;
}
