*{
	margin: 0;
	padding: 0;
}
body{
	width: 25%;
	margin: auto;
	background: black;
}
h1{
	padding: 5px;
	text-align: left;
	color: beige;
	text-transform: uppercase;
	font-size: 20px;
}
.header{
	width: 100%;
	height: 35px;
	background: grey;
}
hr{
	border: 1px solid grey;
}
.form{
	background: black;
	margin-top: 7px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.form__item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 190px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.form__item>p{
	margin-right: 15px;
	color: whitesmoke;
}
.form__item>input{
	height: 30px;
	background: grey;
	border: none;

}
.form__itemText{
	margin-top: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	align-items: flex-start;
}
.form__itemText>textarea{
	width: 74%;
	margin-bottom: 15px;
	background: grey;
	height: 110px;
}
.form__itemText>p{
	margin-right: 15px;
	color: whitesmoke;
}
.form__item>.form__submit{
	margin-top: 15px;
	width: 25%;
	height: 25px;
	position: absolute;
	right: 10px;
	background: red;
	color: white;
	border: none;
}

