*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
	margin: auto;
}
.header{
	height: 70px;
	background: black;
	display: flex;
	color: white;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 1200px;
}
.header__menu{
	width: 50%;
}
.hamburger-menu{
	display: none;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 20px;
  rightt: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  }
  .menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: darkgrey;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
 .header__menu .menu__box:!important{
 	display: flex;
 	flex-direction: column;
 	}
.header__menu ul:nth-child(2){
	list-style: none;
	display: flex;
	width: 55%;
    justify-content: space-between;
}
.header__logo span{
	color: red;
}
.header__logo{
	text-transform: uppercase;
	font-size: 	30px;
	width: 50%;
	display: flex;
    justify-content: center;
}
.header__menu ul a{
	color: white;
	text-decoration: none;
	text-transform: capitalize;
	transition: 1s;
}
.header__menu ul a:hover{
	color: red;

}
.banner{
	height: 100vh;
	background: url(../img/main-bg.jpg);
	background-size: 130% 100%;
	background-position: center;
	position: relative;
}
.banner__info{
	width: 85%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 30vh;
	margin: auto;
    left: 0;
    right: 0;
    color: white;
}
.banner__info > *{
	padding: 15px 20px;
}
.banner__title{
	font-size: 30px;
}
.banner__subtitle{
	font-size: 25px;
}
.banner__text{
	font-size: 22px;
	color: grey;
}
.banner__btn{
	position: absolute;
	bottom: 30vh;
	left: 10vw;
	border: none;
	background: red;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
}
.articles{
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: lightgrey;
}
.articles__item{
	width: 30%;
	height: 80vh;
	background: grey;
	display: flex;
    justify-content: center;
    align-items: center;
}
.articles__item:nth-child(2){
	background: none;
}
.articles__img{
	height: 50%;
	position: relative;
}
.articles__img span{
	position: absolute;
	right: 5px;
	top: 5px;
}
.articles__img i:hover .article__icon{
	opacity: 1;
}
.articles__img i{
	position: relative;
}
.article__icon{
	transition: 1s;
	position: absolute;
	background: black;
	color: white;
	padding: 5px;
	font-size: 14px;
	width: 100px;
    left: -85px;
    top: 27px;
    border-radius: 5px;
   opacity: 0;
}
.articles__item:nth-child(1) .articles__img {
	background: url(../img/1.jpg);
	background-size: 100% 130%;
}
.articles__item:nth-child(2) .articles__img{
	background: url(../img/2.jpg);
	background-size: 100% 130%;
	background-position: 10%;
}
.articles__item:nth-child(3) .articles__img{
	background: url(../img/1.jpg);
	background-size: 100% 130%;
}
.articles__wrapper{
	width: 90%;
	height: 90%;
	position: relative;
}
.articles__title{
	font-weight: 700;
	margin: 15px 0;
}
.articles__text{
	margin: 15px 0;
}
.articles__btn{
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	background: red;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
}
.footer{
	height: 70px;
	background: black;
	display: flex;
	color: white;
}
.footer__logo span{
	color: red;
}
.footer__logo{
	text-transform: uppercase;
	font-size: 	30px;
	width: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.block{
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
	position: absolute;
    right: 5px;
    top: -10px;
}
@media screen and (max-width: 668px){
	*{
		margin: 0
	}
	.header{
		width: 100%;
	}
	.header__menu ul:nth-child(2){
	display: none;
}
 .header__menu>.menu__box{
 	display: flex;
 	flex-direction: column;

 }
	.hamburger-menu{
		display: block;
		color: white;
	}
	.header__logo{
		width: 50%;
		font-size: 26px;
		margin-left: 75%;
	}
	.banner {
    	background-size: 310% 100%;
  
	}
	.banner__title {
    	font-size: 24px;
	}
	.banner__subtitle {
    	font-size: 19px;
	}
	.banner__text {
    font-size: 18px;
    	
	}
	.articles {
    flex-direction: column;
}
.articles__item {
    width: 90%;
   
    margin: 20px auto;
}
.articles__btn{
	bottom: -20px;
}
.footer__logo{
		width: 85%;
		font-size: 26px;
	}
}