*{
	margin: 0;
	padding: 0;
}
body{
	width: 50%;
	margin: auto;
	height: 100vh;
}
.bg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url(bg.jpg);
	background-size: 100% 200%;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	height: 90vh;
	background: whitesmoke;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.header{
	display: flex;
	align-items: center;
	height: 20%;
	background: lightgrey;
}
.header>p{
	font-size: 30px;
	margin: 25px;
}
.form__info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: 25px 35px;
}
.form__item{
	display: flex;
	flex-direction: row;
}
.form__item>.input, .input_1{
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 70%;
	margin-bottom: 25px;
}
.form__item>.input{
	margin-left: 150px;
}
.form__item>.input_1{
	margin-left: 134px;
}
.form__item>div>input:nth-child(2){
	width: 5%;
}
.form__info>.form__item:nth-child(3){
	display: flex;
	flex-direction: column;
	margin-left: 195px;
}
.form__info>.form__item:nth-child(3)>p{
	margin-bottom: 30px;
	font-size: 15px;
	color: skyblue;
	text-decoration: underline;
}
.checked{
	display: flex;
	flex-direction: row;
}
.checked>p{
	margin-left: 10px;
}
.footer{
	display: flex;
	align-items: center;
	height: 20%;
	background: lightgrey;
}
.footer>div{
	display: flex;
	flex-direction: row;
	margin-left: 210px;
}
.footer>div>input{
	margin-left: 25px;
	width: 85px;
	height: 30px;
	border: none;
}
.footer>div>input:nth-child(1){
color: white;
background-color: grey;
}
.footer>div>input:nth-child(2){
color: white;
background-color: skyblue;	
}
.fa-user{
	color: grey;
	font-size: 18px;
}